* {
    background-color: #225777;
    color: #ffffff;
}

.logoNavbar {
    width: 3vw;
    height: 3vw;
}

#navbarNav {
    margin-left: 70%;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #ffffff;
    font-weight: bold;
    text-decoration-line: underline;
   
}



