<div class="entreCercles">
    <svg viewBox="0 0 289 279" fill="none" xmlns="http://www.w3.org/2000/svg">
        <ellipse cx="4.65517" cy="129.37" rx="149.655" ry="149.63" fill="#225777" fill-opacity="0.5" />
        <ellipse cx="139.345" cy="24.6296" rx="149.655" ry="149.63" fill="#225777" fill-opacity="0.5" />
    </svg>
</div>

<div class="logo-container">
    <img class="logo" src="assets/images/logoBbgourmet.svg" alt="logoBbgourmet">
</div>

<p class="slogan">L' APPETIT PORTE CONSEIL !</p>

<div class="buttonContainer">
    <button class="button-commencer">Commencer</button>
</div>




